# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]

# envionment variables 
.env 

# notebooks
notebooks/

# data 
backend/data/*

# frontend
frontend/public/config.js
frontend/public/static/config.js